body {
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: .04em;  
}

a {
  font-weight: normal;
}

p, li, dt, dd {
    font-size: 16px;
    color: #302C25;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
}
h1, h2, h3, h4, h5 {
    color: #005A9C;
}

h1 {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 60px;
  font-weight: 100;
  margin-bottom: 20px;
  color: #4c3544;
}

.definition {
  font-size: 1.7em;
  font-weight: 100;
  letter-spacing: 0.07em;
  line-height: 1.2em;
  display: block;
  color: #4c3544;
  margin: 1.0em 0 0.8em 0;
}

.container h4 {
    margin-top: 1.5em;
}

.container {
  max-width: 920px;
}

h5 {
    font-size: 16px;
}

h6 {
    color: #959592;
    font-size: 16px;
}

blockquote {
  border-left: 4px solid #ffd204;
}

dd {
  display: block;
  margin-left: 30px;
}

span.reg-draft {
    background: orange;
    color: white;
    padding: 2px 4px;
}

span.reg-approved, span.reg-approved a {
    background: green;
    color: white;
    padding: 2px 4px;
}

span.reg-approved a {
  text-decoration: underline;
}